body{
    margin: 50px;
    background-image: url(/Curriculum-Elian/src/img/930bc5dbfd202c9a71a438a882b96d2d.jpg);
}

.superior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

.contenido-superior {
    display: grid;
    grid-template-columns: 1fr;
    text-align: end;
    margin: 20px;
}

.medio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.medio-izqda {
    display: grid;
    grid-template-columns: 1fr;
}

.medio-dcha {
    display: grid;
    grid-template-columns: 1fr;

}

.contenido-medio {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
}

.inferior {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenido-inferior{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.contenido-inferior-dcha{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 2%;
}

.bcolor{
    background-color: #d6d6d6;
}

.fuente-medio-ttlo{
    font-family: monospace;
    font-weight: bolder;
    color: #474845;
    font-size: calc(1.1em + 1vw);
}

.fuente-medio-izqda{
    font-family: monospace;
    color: #676666;
    font-size: calc(.4em + 1vw);
    line-height: 1.7em;
    margin-left: 10px;
}

.fuente-medio-dcha{
    font-family: monospace;
    color: #676666;
    font-size: calc(.4em + 1vw);
    margin-top: 15px;
    margin-bottom: 15px;
}

.fuente-medio{
    font-family: monospace;
    font-size: calc(.44em + 1vw);
    font-weight: bolder;
    color: #474845;
}

.border-medio-izqdo{
    border-left: 3px solid #777777;
}

.border-medio-dcho{
    border-bottom: 3px solid #777777;
}

.superior-img{
    width: 55%;
    border: 17px solid #474845;
    margin-left: 40%;
}

.border-superior2{
    position: relative;
    width: 100%;
    height: 100%;
}
.border-superior{
    position: absolute;
    border: 4px solid #d6d6d6 ;
    margin-top: .8%;
    width: 99%;
    height: 90%;
}

.iconos-superior{
    height: 35px;
}

.iconos-inferior{
    width: 40px;
}

.fuente-superior-nmbr{
    font-family: monospace;
    font-weight: bolder;
    color: #474845;
    font-size: calc(2em + 1vw);
    line-height: 1.3em;
}

.fuente-superior-prf{
    font-family: monospace;
    font-weight: bolder;
    color: #474845;
    font-size: calc(.8em + 1vw);
}

.fuente-superior-info{
    font-family: monospace;
    color: #676666;
    line-height: 1.3em;
    font-size: calc(.4em + 1vw);
}

.fuente-inferior{
    font-family: monospace;
    font-weight: bolder;
    color: #444542;
    line-height: 1.3em;
    font-size: calc(.7em + 1vw);
}

.bcolor1{
    border: 2px solid black; 
    background-color: white;
}

.bcolor1 > div {
    margin: 100px;
}